# === Базовые настройки ===
ENVIRONMENT=dev # dev - локально, test - тесты, prod - боевой сервер
DEBUG=True
SECRET_KEY=secret
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# === CORS ===
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5173

# === База данных (PostgreSQL) ===
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=secret
PGDATABASE=dev

# === База данных (Redis) ===
REDISHOST=127.0.0.1
REDISPORT=8000
REDISUSER=admin
REDISPASSWORD=secret
