# === Базовые настройки ===
# dev - локально, test - тесты, prod - боевой сервер
ENVIRONMENT=dev
DEBUG=True
SECRET_KEY=CHANGE_ME_generate_with__openssl_rand_hex_32
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# === CORS ===
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5173

# === База данных (PostgreSQL) ===
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=dev


REDISHOST=127.0.0.1
REDISPORT=8000
REDISUSER=admin
REDISPASSWORD=secret
